@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;600;800&display=swap');
body{
    background-color: #485460;
}
.container{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    background-color: #d2dae2;
    width: 500px;
    height: 200px;
    margin: 1rem auto;
    border-radius: 20px;
}
input{
    font-family: 'Nunito', sans-serif;
    display: block;
    border-radius: 20px;
    border: none;
    margin: 1rem auto;
    width: 200px;
    height: 30px;
    position: relative;
    bottom: -20px;
    font-weight: 800;
}
button{
    background-color:#34495e ;
    width: 100px;
    border-radius: 30px;
    border: none;
    padding: 1rem;
    font-family:'Nunito', sans-serif; 
    font-weight: 600;
    margin: 1rem;
}